# Census Data for San Antonio Districts

In [16]:
import pandas as pd
import numpy as np
import re

from ccd_functions import read_distict

## District Data

This sheet tells which district each census tract aligns with and what percentage of the district is included. District 0 are census tracts outside of San Antonio.

In [17]:
dist = pd.read_excel('CMO_CDTractsPrecincts_May2023.xlsx')
dist.columns = dist.columns.str.replace('\n','')\
                .str.replace('\(.+', '_', regex=True)\
                .str.lower().str.replace(' ', '_')\
                .str.strip('_')
dist = dist[['council_district2023',
             'tract_2010_id',
             'council_district_2023',
             'percentage_of_tract_2010_in_council_district_2023']]
dist.columns = ['council','tract','acres','percent']
dist = dist.iloc[1:].reset_index(drop=True)
dist.tract = dist.tract.astype(str)
dist.council = np.where(dist.council.isnull(), 0, dist.council)
dist.head()

   council   tract       acres   percent
0      1.0  192000  279.510301  0.221309
1      1.0  191900    0.040449  0.000049
2      1.0  192300  283.763269  0.185373
3      1.0  192100  419.237682  0.572719
4      1.0  191304  550.822079  0.786238

In [18]:
dist['tru_acres'] = dist.acres * dist.percent

In [19]:
dist

     council   tract         acres   percent     tru_acres
0        1.0  192000    279.510301  0.221309     61.858108
1        1.0  191900      0.040449  0.000049      0.000002
2        1.0  192300    283.763269  0.185373     52.602187
3        1.0  192100    419.237682  0.572719    240.105462
4        1.0  191304    550.822079  0.786238    433.077105
..       ...     ...           ...       ...           ...
622      0.0  121506    633.041813  0.986636    624.581744
623      0.0  190400      0.599426  0.001164      0.000697
624      0.0  151900   4498.070742  0.460395   2070.889816
625      0.0  152100  23322.167683  0.843758  19678.265813
626      0.0  121508    508.726420  0.922147    469.120331

[627 rows x 5 columns]

In [20]:
dist.groupby('council').sum().tru_acres

council
0.0     432830.494501
1.0      16592.747829
2.0      29717.152100
3.0      34523.663183
4.0      29276.757564
5.0      14261.417765
6.0      31416.709480
7.0      17343.013463
8.0      26455.457455
9.0      25381.198816
10.0     25723.522372
Name: tru_acres, dtype: float64

In [27]:
dist.groupby('council').sum().tru_acres.reset_index().to_excel('sa2020_district_acres.xlsx', index=False)